/* top/top.css */

.top {
    width: 100%;
    box-shadow: var(--top);
    background-color: var(--dark-brand-02);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 5px 16px;
    box-sizing: border-box;
    gap: var(--gap-9xs);
    position: relative;
}

.top__avatar-level {
    position: relative;
    width: 61px;
    height: 60px;
}

.top__avatar-group-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.top__level {
    position: absolute;
    top: 36px;
    left: 38px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-brand-03);
    border-radius: 4px;
}

.top__level-child {
    width: 16px;
    height: 16px;
}

.top__lvl {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 22px;
    font-weight: var(--font-weight-semi-bold);
    font-family: var(--font-primary);
    color: var(--mono-white);
}

.top__param-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    flex: 1;
}

.top__nickname {
    font-size: var(--h2-sembold);
    font-weight: var(--font-weight-semi-bold);
    font-family: var(--font-primary);
    color: var(--mono-white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top__stats {
    display: flex;
    gap: 16px;
    font-size: var(--description-sembold);
    font-family: var(--font-primary);
    color: var(--grade-common-text);
}

.top__stat {
    display: flex;
    align-items: center;
    gap: var(--gap-9xs);
}

.top__pack-icon,
.top__capoint-icon,
.top__energy-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.top__stat-value {
    font-weight: var(--font-weight-semi-bold);
    font-family: var(--font-primary);
}
